body {
    height: 100vh;
    width: 110vh;
    display: flex;
    flex-wrap: wrap;
}

#title {
    height: 5vh;
    width: 100vh;
    background-color: deepskyblue;
}

#container {
    background-color: lightgreen;
    height: 90vh;
    width: 60vh;
}

#chat_box {
    background-color: lightgoldenrodyellow;
    height: 90vh;
    width: 40vh;
}

#grid_board {
    height: 50vh;
    width: 50vh;
    background-color: lightblue;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    background-color: lightslategray;
    height: 30%;
    width: 30%;
    border: 1px solid;
    margin: auto;
    box-sizing: border-box;
    text-align: center;

}

#player_info {
    background-color: lightcoral;
    height: 30vh;
    width: 50vh;
    display: flex;
    margin: auto;
}

.players {
    background-color: lightgoldenrodyellow;
    height: 20vh;
    width: 20vh;
    border: 1px solid;
    margin: auto;


}

#player1 {

}

#player2 {



}

.current_player {
    text: "Your Turn!";
    background-color: red;
}



#bottom_nav {
    background-color: lightblue;
    width: 100vh;
    height: 10vh;
}

.nav {
    background-color: lavender;
    display: inline-block;
    height: 5vh;
    width: 10vh;

}






/*
<----About Me---->
*/

#about_us_body {
    display: flex;
    flex-wrap: wrap;
}

#wrapper {

}

#about_us_title {
    text-align: center;
    background-color: #555555;
    width: 150vh;
    height: 15vh;

}

#profile_container {
    text-align: center;
}

.profile {
    background-color: #2aabd2;
    padding: 1%;
    margin: 5%;
    display: block;
    height: 30vh;
    width: 20vh;
    display: inline-block;
}

.about_me_name {
    background-color: mediumpurple;
}