#about_us_body {
    display: flex;
    flex-wrap: wrap;
}

#wrapper {

}

#about_us_title {
    text-align: center;
    background-color: #555555;
    width: 150vh;
    height: 15vh;

}

#profile_container {
    text-align: center;
}

.profile {
    background-color: #2aabd2;
    padding: 1%;
    margin: 5%;
    display: block;
    height: 30vh;
    width: 20vh;
    display: inline-block;
}

.about_me_name {
    background-color: lightgreen;
}
