body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    margin: auto;
    background-image: url("images/calvinandhobbesback1.jpg");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#title_container {
    height: 12%;
    width: 100%;
    background-color: deepskyblue;
    font-family: calvin_and_hobbes;
    text-align: center;
    letter-spacing: 8px;
    color: black;

}

.title{
    display: inline-flex;
    font-size: 7vmin;
}

#container {
    background-color: #989898;
    height: 70%;
    width: 65%;
    margin: -22% auto;
}
#grid_board {
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.grid {
    background-color: whitesmoke;
    border: 1px solid #B0B0B0;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 10vh;
    font-family: calvin_and_hobbes;
    display: block;
}
.ez{
    height:30%;
    width:30%;
}
.med{
    height: 25%;
    width: 25%;
}
.hard{
    width:20%;
    height: 20%;
}
#ez_btn, #med_btn, #hard_btn {
    height: 60%;
    width: 100%;
    text-align: center;
    font-size: 3vh;
}

#player_container {
    display: inline-flex;
    margin-left: 25%;
}

.players {
    background-color: lightgoldenrodyellow;
    height: 10vh;
    width: 10vh;
    border: 1px solid;
    margin: auto;
    text-align: center;
    font-size: 8vh;
    font-family: calvin_and_hobbes;
    border-radius: 30px;
}
#player_pic1 {
    height: 15vh;
    width: 15vh;
    border: 1px solid;
    margin: auto;
    border-radius: 30px;
    background-image: url("images/calvinicon.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}
#player_pic2 {
    height: 15vh;
    width: 15vh;
    border: 1px solid;
    margin: auto;
    border-radius: 30px;
    background-image: url("images/hobbesicon.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}

#player1 {
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

#player2 {
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}
.current_player {
    background-color: lightgreen;
}
h1{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 2vh;
    font-size: 2vmin;
    border: none;
    cursor: pointer;
    font-family: calvin_and_hobbes;
    letter-spacing: 6px;
    margin-bottom: 5%;
}
.dropbtn:hover{
    background-color: lightslategrey;
}
.dropdown:hover .dropbtn {
    background-color: lightslategrey;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 5%;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
@font-face {
    font-family: 'calvin_and_hobbes';
    src: url('font/calvinn.ttf')
    format('truetype')
}
.modal-content {
    text-align: center;
    width: 75%;
    height: 75%;
    margin: 0 auto;
}

.dropbtn a {
    color: #ffffff;
}

@media screen and (min-width: 320px) {
    .players {
        height: 14vw;
        width: 14vw;
        font-size: 7vw;
    }
    #player_pic1 {
        height: 14vw;
        width: 14vw;
    }
    #player_pic2 {
        height: 14vw;
        width: 14vw;
    }
}

@media screen and (max-width: 1024px){
    .players {
        height: 7vw;
        width: 7vw;
        font-size: 6vw;
    }
    #player1 {
        font-size: 5vw;
    }
    #player_pic1 {
        height: 7vw;
        width: 7vw;
    }
    #player_pic2 {
        height: 7vw;
        width: 7vw;
    }
}